<p class="explore">Explorez</p>
<p class="location">Alpes</p>
<div class="search-container">
  <input id="rechercher" type="text" placeholder="Rechercher un spot">
</div>

<ul class="sections">
  <!-- [class.active] ajoute la classe active si la condition est vraie -->
  <!-- (click) déclenche la méthode select() quand on clique -->
  <li [class.active]="selectedSection === 'bivouac'"
      (click)="select('bivouac')">
    Bivouac
  </li>

  <li [class.active]="selectedSection === 'camping'"
      (click)="select('camping')">
    Camping
  </li>

  <li [class.active]="selectedSection === 'refuge'"
      (click)="select('refuge')">
    Refuge
  </li>

  <li [class.active]="selectedSection === 'point d\'eau'"
      (click)="select('point d\'eau')">
    Point d'eau
  </li>
</ul>

<div class ='listing-items'>
  @for (spot of spots; track spot.id){
    <!-- afficher seulement les spots qui correspondent au type sélectionné -->
    @if (spot.type === selectedSection){
      <!-- donne les données du spot au composant enfant -->
      <app-listing-card [data]="spot"></app-listing-card>
    }
  }
</div>
