.listing-items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-bottom: 80px;
}

.explore {
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 5px;
  margin: 2px;
}

.location {
  font-size: 40px;
  padding-bottom: 20px;
  font-weight: 550;
  letter-spacing: -1px;
  margin: 2px;
}

.search-container {
  padding-bottom: 30px;
}

#rechercher {
  width: 100%;
  border-radius: 50px;
  padding: 15px;
  border: 1px solid #e0e0e0;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  outline: none;

  &::placeholder {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #a0a0a0;
    font-weight: 400;
  }

  &:focus {
    border-color: #1e70f0;

    &::placeholder {
      color: transparent;
    }
  }
}

.sections {
  margin-top: 0;
  font-size: 14px;
  padding-left: 0;
  display: flex;
  align-items: center;
  gap: 20px;
  list-style: none;
  padding-bottom: 20px;

  li {
    cursor: pointer;
    color: #999999;
    padding: 8px 16px;
    border-radius: 50px;
    transition: all 0.3s ease;

    &:hover {
      background-color: #f3f8fe;
      color: #176ff1;
    }

    &.active {
      font-weight: 800;
      background-color: #f3f8fe;
      color: #176ff1;
    }
  }
}
