// :host ça prend l'élément du composant lui-même
:host {
  display: block;
  // ici chaque carte prend 50% de largeur moins 10px pour l'espace entre
  width: calc(50% - 10px);
}


@media (min-width: 768px) {
  :host{
    width: calc(25% - 10px);
  }
}


@media (min-width: 1024px) {
  :host{
    width: calc(17% - 10px);
  }

}


.card {
  cursor: pointer;
  width: 100%;

  // ici quand on survole la carte, l'image s'agrandit légèrement
  &:hover .spot-image {
    transform: scale(1.05);
  }
}

.image-container {
  position: relative;
  width: 100%;
  // aspect-ratio: 1 / 1 force un carré parfait
  aspect-ratio: 1 / 1;
  overflow: hidden;
  border-radius: 12px;
}

.spot-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.wishlist-btn {
  position: absolute;
  top: 12px;
  right: 12px;

  background-color: white;
  border-radius: 50%;
  padding: 6px;
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 2px 4px rgba(0,0,0,0.18);

  color: #717171;
  font-size: 20px;

  &.active {
    color: #ff385c;
  }
}

.info-section {
  padding-top: 12px;
}

.header-row {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  font-size: 15px;
}

.location {
  color: #222222;
}

.rating {
  color: #222222;
}

.description,
.dates {
  color: #717171;
  font-size: 14px;
  margin: 2px 0;
}

.price {
  margin-top: 6px;
  font-size: 15px;
  color: #222222;

  strong {
    font-weight: 600;
  }
}

.free {
  margin-top: 6px;
  font-size: 15px;
  color: #2DD7A4;

  strong {
    font-weight: 600;
  }
}
