.publish-container {
  padding: 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  max-width: 400px;
  margin: auto;
  background-color: white;
  border-radius: 30px;
}

input, textarea {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  background-color: #f4f7f6;
  border-radius: 15px;
  box-sizing: border-box;
}

.submit-btn {
  width: 100%;
  padding: 15px;
  background-color: #1e70f0;
  color: white;
  border: none;
  border-radius: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}


