.full-screen-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;      /* elle passe derrière le contenu */
}

.content {
  position: relative;
  z-index: 1;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 40px 30px;
  box-sizing: border-box;
}

h1 {
  padding-top: 90px;
  font-family: 'Akronim', cursive;
  font-size: 115px;
  color: white;
  text-align: center;
  font-weight: 400;
  letter-spacing: 2px;
}

/* on crée un groupe pour le texte du bas */
.bottom-group {
  margin-top: auto;
  margin-bottom: 20px;
  color: white;
}

p {
  font-size: 28px;
  margin-bottom: 5px;
  font-weight: 300;
}

h2 {
  font-size: 55px;
  line-height: 1; // réduire l'espace des lignes
  margin-top: 0;
  margin-bottom: 40px;
  font-weight: 600;
}


button {
  width: 100%;
  padding: 18px;
  margin-bottom: 15px;
  border-radius: 12px;
  border: none;
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  background-color: #1e70f0;
  color: white;
  transition: transform 0.2s;
}

button:active {
  transform: scale(0.98); /* petit effet de clic */
}
